<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-couchbase-lite" version="1.4.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>Couchbase Lite</name>
    <description>Use Couchbase Lite directly from within your app.</description>
    <author>Tom O'Reilly</author>
    <keywords>CBLite,couchbase-lite</keywords>
    <license>Apache 2.0</license>

    <js-module name="CBLite" src="www/cblite.js">
        <clobbers target="window.cblite" />
    </js-module>
    <platform name="ios">
        <config-file parent="/widget" target="config.xml">
            <feature name="CBLite">
                <param name="ios-package" value="CBLite" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CBLite.h" />
        <source-file src="src/ios/CBLite.m" />
        <header-file src="src/ios/CBLiteDatabase.h" />
        <source-file src="src/ios/CBLiteDatabase.m" />
        <header-file src="src/ios/CBLiteNotify.h" />
        <source-file src="src/ios/CBLiteNotify.m" />
        <header-file src="src/ios/CBLiteQuery.h" />
        <source-file src="src/ios/CBLiteQuery.m" />
        <header-file src="src/ios/CBLiteLiveQuery.h" />
        <source-file src="src/ios/CBLiteLiveQuery.m" />
        <header-file src="src/ios/CBLiteDatabase+Notify.h" />
        <source-file src="src/ios/CBLiteDatabase+Notify.m" />
        <header-file src="src/ios/CBLiteDatabase+LiveQuery.h" />
        <source-file src="src/ios/CBLiteDatabase+LiveQuery.m" />
        <framework src="libsqlite3.dylib" />
        <framework src="libstdc++.dylib" />
        <framework src="libicucore.dylib" />
        <framework src="libz.dylib" />
        <framework src="Security.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="JavaScriptCore.framework" />
        <header-file src="lib/ios/CBLRegisterJSViewCompiler.h" />
        <source-file framework="true" src="lib/ios/libCBLJSViewCompiler.a" />
        <source-file framework="true" src="lib/ios/CouchbaseLite.framework/CouchbaseLite.a" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLAttachment.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLAuthenticator+OpenID.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLAuthenticator.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLBase.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLDatabase.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLDatabaseChange.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLDocument.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLDynamicObject.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLGeometry.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLJSON.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLManager.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLModel.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLModelFactory.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLQuery+FullTextSearch.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLQuery+Geo.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLQuery.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLQueryBuilder.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLReplication.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLRevision.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLUITableSource.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CBLView.h" />
        <header-file src="lib/ios/CouchbaseLite.framework/Headers/CouchbaseLite.h" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CBLite">
                <param name="android-package" value="com.couchbase.cblite.phonegap.CBLite" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
        <source-file src="src/android/CBLite.java" target-dir="src/com/couchbase/cblite/phonegap" />
        <source-file src="lib/android/commons-io-2.0.1.jar" target-dir="libs" />
        <resource-file src="lib/android/couchbase-lite-android-1.4.0.aar"
            target="libs/couchbase-lite-android-1.4.0.aar" />
        <source-file src="lib/android/couchbase-lite-java-javascript-1.4.0.jar" target-dir="libs" />
        <source-file src="lib/android/couchbase-lite-java-core-1.4.0.jar" target-dir="libs" />
        <resource-file src="lib/android/couchbase-lite-android-sqlite-custom-1.4.0.aar"
            target="libs/couchbase-lite-android-sqlite-custom-1.4.0.aar" />
        <source-file src="lib/android/couchbase-lite-java-listener-1.4.0.jar" target-dir="libs" />
        <source-file src="lib/android/jackson-annotations-2.5.0.jar" target-dir="libs" />
        <source-file src="lib/android/jackson-core-2.5.0.jar" target-dir="libs" />
        <source-file src="lib/android/jackson-databind-2.5.0.jar" target-dir="libs" />
        <source-file src="lib/android/okhttp-3.3.1.jar" target-dir="libs" />
        <source-file src="lib/android/okio-1.8.0.jar" target-dir="libs" />
        <source-file src="lib/android/rhino-1.7R3.jar" target-dir="libs" />
        <source-file src="lib/android/servlet-2-3.jar" target-dir="libs" />
        <source-file src="lib/android/stateless4j-2.4.0.jar" target-dir="libs" />
    </platform>
</plugin>
